.faq-section {
  display: flex;
  background: rgb(3, 37, 66);
  flex-direction: row;
  gap: 100px;
}
.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 16px;
}

.faq-question {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(96, 165, 250, 0.1);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
}

.faq-question.active {
  background: rgba(96, 165, 250, 0.2);
  border-radius: 8px 8px 0 0;
}

.faq-question .icon {
  transition: transform 0.3s ease;
}

.faq-question .icon.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-answer.show {
  padding: 20px;
  max-height: 500px;
  background: rgba(96, 165, 250, 0.05);
  border-radius: 0 0 8px 8px;
}

@media (max-width: 1155px) {
  .faq-section {
    flex-direction: column;
    gap: 20px;
  }
}
