.about-faq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.about-faq-h {
  width: 62%;
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 20px;
}

.accordion-all {
  width: 90%;
}

.accordion-item {
  background-color: #4081bb;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-title {
  padding: 15px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #4e99db;
  border-bottom: 2px solid #0d508a;
}

.accordion-title.active {
  background-color: #4e99db;
}

.accordion-content {
  padding: 15px;
  background-color: #4081bb;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}

.accordion-content.show {
  max-height: 500px;
  opacity: 1;
  padding: 15px;
}

.accordion-title span {
  font-weight: bold;
  margin-right: 10px;
}
@media (max-width: 1000px) {
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .about-faq-h {
    display: flex;
  }
  .accordion-all {
    width: 140%;
  }
  .about-faq-h {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
