.resumes-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: url("../../assets/login_signup_bg.png") !important;
}

.resumes-dashboard-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 750px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.resumes-dashboard-title {
  font-size: 22px;
  color: #000000;
  font-weight: bold;
}

.resumes-dashboard-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resumes-dashboard-label {
  word-break: break-word;
  overflow-wrap: break-word;
}

.resumes-dashboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #e0edf7;
  border-radius: 8px;
  background-color: #f9fbfe;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.resumes-dashboard-item:hover {
  background-color: #e6f4fc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resumes-dashboard-selected {
  background-color: #d8eff9;
  border-color: #1e94e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resumes-dashboard-header {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.resumes-dashboard-fio {
  font-size: 16px;
  color: #555555;
  margin-bottom: 10px;
}

.resumes-dashboard-skills,
.resumes-dashboard-phone,
.resumes-dashboard-email {
  font-size: 14px;
  color: #777777;
}

.resumes-dashboard-empty {
  font-size: 18px;
  color: #777777;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resumes-dashboard-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resumes-dashboard-view-button,
.resumes-dashboard-delete-button,
.resumes-dashboard-select-button {
  background-color: #ffffff;
  border: 1px solid rgba(216, 216, 216, 1);
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
  transition: ease all 0.3s;
  box-sizing: border-box;
}

.resumes-dashboard-view-button:hover,
.resumes-dashboard-delete-button:hover,
.resumes-dashboard-select-button:hover {
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  color: white;
}

.resumes-dashboard-create-button {
  padding: 12px 25px;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.resumes-dashboard-create-button:hover {
  background: linear-gradient(122.33deg, #5fb0c2 30.62%, #1989d8 100%);
}
