.language-switcher {
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.language-switcher button {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.language-switcher button:hover {
  background-color: transparent;
  color: white;
}

.language-switcher button:focus {
  outline: none;
}
