.resume-addition-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #b6dfff;
  margin-top: 80px;
  text-align: center;
  position: relative;
}

.resume-title-steps {
  font-size: 34px;
  font-weight: bold;
  color: #000000;
  max-width: 300px;
}

.ladder-container {
  position: relative;
  margin-bottom: 40px;
}

.ladder-image {
  width: 100%;
  height: auto;
}

.resume-steps {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number,
.stair,
.platform,
.text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.number.visible,
.stair.visible,
.platform.visible,
.text.visible {
  opacity: 1;
  transform: translateY(0);
}

.number {
  margin: 20px 0;
}

.stair {
  margin: 10px 0;
}

.text {
  margin: 10px 0;
}
