body {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.vacancies-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
  margin-top: 90px;
  gap: 70px;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -5px;
}

.filters div {
  width: 250px;
  border: none;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(141, 141, 141, 0.185);
}

.home ul li,
.exp_lvl label,
.city li,
.podrabotka li {
  margin-bottom: 10px;
}

.home ul li input[type="checkbox"],
.exp_lvl input[type="range"],
.city li input[type="checkbox"],
.podrabotka li input[type="checkbox"] {
  margin-right: 12px;
  cursor: pointer;
}

.income input[type="range"],
.employment select,
.schedule select,
.metro select,
.exp_lvl input[type="range"] {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: none;
  padding: 8px;
  font-size: 14px;
}

.income input[type="range"],
.exp_lvl input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 10px;
  width: 100%;
  height: 6px;
  background: linear-gradient(
    to right,
    rgba(185, 185, 185, 0.185) 0%,
    rgba(185, 185, 185, 0.185) var(--val),
    #1f2a3d var(--val),
    #1f2a3d 100%
  );
  border-radius: 30px;
  outline: none;
}

.income input[type="range"]::-webkit-slider-thumb,
.exp_lvl input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
  height: 1px;
  background-color: #1f2a3d;
  cursor: pointer;
}

.income input[type="range"]::-moz-range-thumb,
.exp_lvl input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background-color: #1f2a3d;
  border-radius: 50%;
  cursor: pointer;
}

.income label,
.exp_lvl label {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
  display: block;
}

.income p,
.exp_lvl p {
  font-size: 14px;
  color: #f0f0f0;
  margin-top: 8px;
}

.filters select option {
  background-color: black;
}

.filters select:active,
.filters select:focus,
.filters option:focus,
.filters option:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.city ul,
.podrabotka ul,
.sort ul,
.output ul,
.show ul {
  list-style: none;
  padding: 0;
}

.city li,
.podrabotka li,
.sort li,
.output li,
.show li {
  padding-left: 15px;
}

.podrabotka ul > li,
.sort ul > li,
.output ul > li,
.show ul > li,
.city ul > li {
  margin-top: 10px;
}

.metro,
.employment,
.schedule {
  display: flex;
  align-items: last baseline;
  flex-direction: column;
}

.metro label,
.employment label,
.schedule label {
  margin-bottom: 10px;
}

.exp_lvl,
.income {
  display: flex;
  flex-direction: column;
}

.exp_lvl label,
.income label {
  margin-bottom: 10px;
}

.filters input[type="radio"] {
  margin-right: 10px;
}

.grid-of-vacancies {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 10px;
}

.vacancy-block {
  background-color: rgba(185, 185, 185, 0.185);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  height: 200px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.377);
  padding: 15px;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.vacancy-block:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: rgba(196, 196, 196, 0.226);
}

.vacancy-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.vacancy-description {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: #b0c4de;
}

.vacancy-info {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.vacancy-button {
  margin-top: 30px;
  background-color: #5972929a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vacancy-button:hover {
  background-color: rgba(140, 160, 177, 0.507);
}

.vac-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-vac {
  text-align: left;
  border-radius: 5px;
  width: 250px;
  height: 20px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgba(141, 141, 141, 0.185);
  backdrop-filter: blur(10px);
  padding: 15px;
}

.search-vac::placeholder {
  color: white;
}

.search-vac:focus {
  outline: none;
}
@media (max-width: 1409px) {
  .vacancies-content {
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .grid-of-vacancies {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .filters {
    width: 100%;
  }

  .filters div {
    width: 100%;
    margin-top: 10px;
  }

  .search {
    width: 100%;
  }
}
