.response-window-actions {
  display: flex;
  justify-content: space-between;
}

.submit-button-response-window,
.close-button-response-window {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.submit-button-response-window:hover,
.close-button-response-window:hover {
  background-color: #45a049;
}

.submit-button-response-window.animate {
  cursor: not-allowed;
}

.close-button-response-window {
  background-color: #f44336;
}

.close-button-response-window:hover {
  background-color: #e53935;
}
