.metro select {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: none;
  padding: 8px;
  font-size: 14px;
}
.metro {
  display: flex;
  align-items: last baseline;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.377);
}
.metro label {
  margin-bottom: 10px;
}
