.chat-list {
  width: 20%;
  height: auto;
  background-color: rgba(185, 185, 185, 0.185);
  border-bottom: 1px solid #1f1f1f;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 60px;
  overflow-y: auto;
}

.chat-list::-webkit-scrollbar {
  width: 5px;
}

.chat-list::-webkit-scrollbar-track {
  background: #1d2d44;
}

.chat-list::-webkit-scrollbar-thumb {
  background: #34455c;
  border-radius: 10px;
}

.chat-list::-webkit-scrollbar-thumb:hover {
  background: #3e526e;
}
.search-bar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #2c3e50;
  padding: 10px 10px;
  border-bottom: 1px solid #1f1f1f;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  height: 35px;
  border-radius: 12px;
  color: white;
  background-color: #34455c;
  outline: none;
}

.search-bar input::placeholder {
  color: white;
}

.chat-item {
  height: 80px;
  color: white;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid #1f1f1f;
  transition: background-color 0.3s;
}

.chat-item.active {
  background-color: #294c64;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}
