.output {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.377);
}
.output ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
.output li {
  padding-left: 15px;
}
.output ul > li {
  margin-top: 10px;
}
