.city {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.377);
}
.city li {
  margin-bottom: 10px;
}
.city li input[type="checkbox"] {
  margin-right: 12px;
  cursor: pointer;
}
.city ul {
  list-style: none;
  padding: 0;
}
.city li {
  padding-left: 15px;
}
.city ul > li {
  margin-top: 10px;
}
