.footer-additional {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-additional h1 {
  font-weight: 200;
  font-size: 20px;
}

.paragraph-footer-additional {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-additional p {
  color: #acacac;
  transition: ease all 0.3s;
}

.footer-additional p:hover {
  text-decoration: underline;
  transform: scale(1.01);
  color: #e4e4e4;
  cursor: pointer;
}
