.show {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.377);
}
.show ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.show li {
  padding-left: 15px;
}

.show ul > li {
  margin-top: 10px;
}
