.about-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  gap: 390px;
  margin-bottom: 40px;
}
.about-contacts-h {
  width: 100%;
  font-size: 33px;
  font-weight: bold;
}
.about-contacts-p {
  max-width: 100%;
  font-size: 16px;
  font-weight: 100;
}
hr {
  margin: 0 auto;
  width: 70%;
  margin-top: 100px;
  margin-bottom: 0px;
  border-color: rgba(255, 255, 255, 0.247);
}
