.language-switcher {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
}

.language-switcher button {
  width: 80px;
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.language-switcher button:hover {
  background-color: #5972929a;
  color: white;
}

.language-switcher button:active {
  outline: none;
}

.language-switcher .selected {
  background-color: #5972929a;
  color: white;
}

@media (max-width: 390px) {
  .language-switcher {
    position: absolute;
    left: 30%;
  }
}
