.tower-container {
  background-color: #b6dfff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.tower-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 550px;
}

.platform-image {
  width: 150px;
  height: auto;
}

.stairs-container {
  margin-top: -53px;
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stair-image {
  width: 50px;
  height: auto;
  margin: -15px 5px;
}

.number-image {
  position: absolute;
  width: 40px;
  height: auto;
  top: 16px;
}

.step-0 {
  transform: translate(100px, 3px) !important;
}

.step-1 {
  transform: translate(-35px, 167px) !important;
}
.step-2 {
  transform: translate(-170px, 331px) !important;
}
.step-3 {
  transform: translate(-225px, 445px) !important;
}

.tower-afk-image {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
}
