.footer {
  width: 100%;
  background-color: rgba(1, 3, 10, 0.137);
}

.footer-content-all {
  display: flex;
  flex-direction: column;
}

.footer-content-upper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  padding: 50px;
  background-color: rgba(1, 3, 10, 0.137);
}
@media (max-width: 971px) {
  .footer-content-upper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 493px) {
  .footer-content-upper {
    display: flex;
    text-align: left;
    flex-direction: column;
  }
}
