.candidate-details-content {
  padding: 100px 70px;
  background-color: #b6dfff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 200px;
}

.candidate-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.candidate-info-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
}

.candidate-details-content h2 {
  font-size: 36px;
  max-width: 340px;
}

.candidate-details-content h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.candidate-details-content p {
  color: rgb(65, 65, 65);
  max-width: 700px;
}

@media (max-width: 1414px) {
  .candidate-details-content {
    flex-direction: column;
    padding: 50px 20px;
    gap: 50px;
  }

  .candidate-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
}

@media (max-width: 950px) {
  .candidate-image {
    width: 85%;
  }

  .candidate-details-content {
    padding: 20px;
  }

  .candidate-details-content h2 {
    font-size: 24px;
  }

  .candidate-details-content h1 {
    font-size: 18px;
  }

  .candidate-info-content {
    gap: 10px;
  }
}
